<div *ngIf="listing">
  <a [routerLink]="['/listings']">Kembali</a>
  <br>
  <h2 class="page-header">{{listing.title}} <small>{{listing.city}}</small></h2>
  <div class="row">
    <div class="col-md-4">
      <img style="width:100%" class="thumbnail" src="{{imageUrl}}">
    </div>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">Pemilik: {{listing.owner}}</li>
        <li class="list-group-item">Kamar Tidur: {{listing.bedrooms}}</li>
        <li class="list-group-item">Tipe: {{listing.type}}</li>
        <li class="list-group-item">Harga: {{listing.price}}</li>
      </ul>
    </div>
    <a class="btn btn-default" href="#">Edit</a>
    <a class="btn btn-danger" href="#">Hapus</a>
  </div>
</div>
